/* css文件 */
.basecolor{
    background-color: #C20C0C;
    border-color: #C20C0C;
}
body{
    position: absolute;
    height: 100%;
    width: 100%;
}
#header{
    height: 35%;
    width: 100%;
    background-color: #C20C0C;
}
#header > button{
    overflow: hidden;
    height: 8%;
    position: absolute;
}
#header #windowback{
    height: 8%;
    position: absolute;
    width: 59.72px;
    display: none;
    z-index: 2;
}
#content{
    position: absolute;
    width: 100%;
}
#content .page{
    margin-top: 15px;
}
#sidebar > div > div{
    background: url(../img/loginheader.jpeg) 0 0 no-repeat;
    background-size: 100% 100%;
}
#sidebar #loginheader{
    text-align: center;
    color: white;
}
#sidebar #loginheader > button{
    margin-top: 20px;
    border: 1px solid white;
    background-color: rgba(0, 0, 0, 0.4);
    color: beige;
    width: 65%;
}
#slider > div > ul{
    height: 100%;
}
#slider > div > ul > li {
    height: 100%;
}
#slider > div > ul > li > img {
    height: 100%;
}
/* 滑动 */
#slider{
    position: absolute;
    height: 100%;
    width: 100%;
}
#slider > div{
    position: relative;
    height: 100%;
}

/* 修改amazeui的css */
.am-btn-primary:focus, .am-btn-primary:hover{
    background-color: #C20C0C;
}
.am-panel{
    height: 35px;
}
.am-offcanvas-bar{
    background: white;
}
#indexpage{
    margin-bottom: 10px;
    height: 160px;
    margin-top: 10px;
}
#indexpage .am-u-sm-3{
    height: 50%;
}
#indexpage > div > span{
    position: absolute;
    height: 70%;
    width: 70%;
    background-color: #C20C0C;
    border-radius: 50%;
    top: 15%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
#indexpage > div > span > em{
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: -25px;
    color: black;
    white-space: nowrap;
}

#header #silderouter{
    position: absolute;
    height: 29%;
    overflow: hidden;
    width: 100%;
}
#indexpage > div:nth-child(1) > span{
    background-image: url(../img/video.png);
}
#indexpage > div:nth-child(2) > span{
    background-image: url(../img/merchants.png);
}
#indexpage > div:nth-child(3) > span{
    background-image: url(../img/lostfound.png);
}
#indexpage > div:nth-child(4) > span{
    background-image: url(../img/shop.png);
}
#indexpage > div:nth-child(5) > span{
    background-image: url(../img/bbs.png);
}
#indexpage > div:nth-child(6) > span{
    background-image: url(../img/bbs.png);
}

/* home页面 */
#header > span.am-icon-home.am-icon-md{
    right: 15px;
    height: 54px;
    position: absolute;
    line-height: 54px;
    z-index: 2;
    color: white;
}
#recommended .title{
    height: 30px;
    line-height: 30px;
    color: black;
    font-size: 17px;
    margin-top: 22px;
    text-align: center;
}
#pagetitle{
    position: absolute;
    width: 100%;
    text-align: center;
    height: 54px;
    line-height: 54px;
    font-size: 20px;
    color: white;
    font-weight: bold;
}
/* 登陆 */
#loginheader > img{
    height: 82px;
}
#loginpage > form{
    margin-top: 10px;
    text-align: center;
}
#loginpage > form > button{
    width: 70%;
    background-color: #C20C0C;
    color: white;
}
#loginpage > form > div:nth-child(3){
    text-align: right;
    margin-right: 15px;
    color: #0e90d2;
}
/* 个人信息 */
#userinfo{
    margin-top: 20px;
}

#userinfo > div.am-panel{
    line-height: 35px;
}

/* 失物招领 */
#pagelosefound > article > div.images{
    position: relative;
}
#pagelosefound > article > div.images > img{
    width: 50%;
}
#pagelosefound > article > div.images > img:nth-child(2){
    position: absolute;
    right: 0px;
    top: 0px;
}
#pagelosefound > article > div.am-article-bd > p.am-article-lead{
    margin: 0 0 0 0;
}
#pagelosefound > article > div.am-article-bd > button{
    width: 100%;
}
#pagelosefound #writeinfo{
    position: fixed;
    bottom: 0px;
    width: 100%;
}
#pagelosefound > article:nth-last-child(){
    margin-bottom: 2.4em;
}
#pagelosefound > article:nth-child(3){
    margin-bottom: 2.4em;
}
/*
填写失物招领的信息
*/
#writelosepage > form{
    margin-top: 10px;
}
#writelosepage > form > fieldset > p:nth-child(1){
    position: relative;
    height: 150px;
    width: 100%; 
}
#writelosepage > form > fieldset > p:nth-child(1) > img{
    width: 50%;
    position: absolute;
    left: 0px;
    height: 100%;
}
#writelosepage > form > fieldset > p:nth-child(1) > img:nth-child(3){
    left: 50%;
}
#writelosepage > form > fieldset > p:nth-child(1) > input:nth-child(4){
    left: 50%;
}
#writelosepage > form > fieldset > p:nth-child(1) > input{
    width: 50%;
    position: absolute;
    left: 0px;
    height: 100%;
    z-index: 2;
    opacity: 0;
}
#writelosepage > form > fieldset > p:nth-child(3) > button{
    width: 100%;
}


/* 个人失物 */
#mylosefoundpage > table > tbody > tr > td.content{
    display: inline-block;
    width: 160px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
#mylosefoundpage > table > tbody > tr > td{
    height: 54px;
    line-height: 54px;
}

/**
论坛
**/
#bbspage > ul > li > article > div > footer > div > a.icon{
    font-size: 20px;
}


/* 评论 */
#comments{
    position: relative;
    overflow: hidden;
    height: 92%;
    background-color: snow;
    z-index: 2;
    display: none;
}
#comments > div.inner-container{
    position: absolute;
    left: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    height: 100%;
}
#comments > div.inner-container > div.content{
    width: 100%;
}

#comments .inner-container::-webkit-scrollbar {
    display: none;
}
#comments > div > div > article:last-child{
    margin-bottom: 20px;
}
#comments #savecomment{
    position: fixed;
    z-index: 3;
    width: 100%;
    bottom: 0px;
}
body > div.am-dimmer.am-active{
    display: none !important;
}
#comments #closecomment{
    position: fixed;
    z-index: 3;
    right: 0px;
}


/* 商家活动 */
#shoppage > div{
    margin: 0px;
}
#shoppage > div > div.am-list-news-bd > ul > li > img{
    width: 150px;
    height: 150px;
}
#shoppage > div > div.am-list-news-bd > ul > li > div{
    position: absolute;
    top: 0px;
    left: 150px;
    width: 63%;
    height: 150px;
}

#shoppage > div > div.am-list-news-bd > ul > li > div > p.title{
    height: 30px;
    margin: 0 0 0 0;
    font-size: 21px;
}
#shoppage > div > div.am-list-news-bd > ul > li > div > p.content{
    max-height: 100px;
    margin: 0 0 0 0;
    height: 100px;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    display: -webkit-box;
}

#shoppage > div > div.am-list-news-bd > ul > li > div > p.bottom{
    margin: 0 0 0 0;
    position: absolute;
    bottom: 0px;
    width: 100%;
}
#shoppage > div > div.am-list-news-bd > ul > li > div > p.bottom > span{
    float: right;
}
/* 二手市场 */
#secondarypage > ul > li > article > div > footer > div > a.am-badge{
    color: white;
    font-size: 16px;
    margin-top: 5px;
}
#secondarypage #secondary{
    position: fixed;
    bottom: 0px;
    width: 100%;
}

/* 填写二手信息 */
#writesecondarypage > form > fieldset > p:nth-child(1){
    position: relative;
    height: 150px;
    width: 100%;
}
#writesecondarypage > form > fieldset > p:nth-child(1) > img{
    width: 30%;
    position: absolute;
    left: 0px;
    height: 100%;
}
#writesecondarypage > form > fieldset > p:nth-child(1) > input{
    width: 30%;
    position: absolute;
    left: 0px;
    height: 100%;
    z-index: 2;
    opacity: 0;
}
#writesecondarypage > form > fieldset > p:nth-child(1) > img:nth-child(3){
    left: 30%;
}
#writesecondarypage > form > fieldset > p:nth-child(1) > input:nth-child(4){
    left: 30%;
}
#writesecondarypage > form > fieldset > p:nth-child(1) > img:nth-child(5){
    left: 60%;
}
#writesecondarypage #fileimage3{
    left: 60%;
}
#writesecondarypage > form > fieldset > p > .s{
    margin-left: 5%;
    margin-right: 5%;
}
#writesecondarypage > form > fieldset > div.type{
    margin-top: 1.5rem;
}
#writesecondarypage > form > fieldset > div.type > span{
    margin-left: 20px;
}
#writesecondarypage > form > fieldset > p:nth-child(5) > button{
    width: 100%;
}
/* 兼职 */
#parttimepage > ul > li > article > div > footer > div > a.am-badge{
    color: white;
    font-size: 16px;
    margin-top: 5px;
}

/* 论坛管理 */
#bbsmanagementpage > table{
    margin-top: 16px;
}
#bbsmanagementpage > table > tbody > tr > td.content{
    display: inline-block;
    width: 160px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* 单个论坛中的信息 */
#bbsinfopage #del{
    width: 100%;
}

/* 活动单个信息 */
#shopinfopage > div > div > div > div > p:nth-child(3) > button{
    margin-top: 5px;
}